extends layout

block content

  h1 Log in area
  p to log in please provide your user information to the following form
  br
  .main.container

      form(method='post' action='/login')
        table
          tr
            td
              div.form-group
                label(for='username') Username:
            td
              input#username.form-control(type='text', placeholder='username', name='username', required='true')
          tr
            td
              div.form-group
                label(for='password') Password:
            td
              input#password.form-control(required='true', type='password', name='password', placeholder='password')
        br
        input(type='submit' value='Log in')
      a(class='button' href='/signup') Sign up
      div
        p(style="color: red")= info
