extends layout

block content

  h1 Sign up area
  p to sign up please provide your user information to the following form
  br
  .main.container


    form(method='post' action='/signup')
      table
        tr
          td
            div.form-group
              label(for='username') Username:
          td
            input#username.form-control(type='text', placeholder='username', name='username')
        tr
          td
            div.form-group
              label(for='password') Password:
          td
           input#password1.form-control(type='password', name='password1')
        tr
          td
            div.form-group
              label(for='password') Confirm Password:
          td
            input#password2.form-control(type='password', name='password2')
        tr
          td
            div.form-group
              label(for='password') E-mail Address:
          td
            input#email.form-control(type='email', name='email')
      br
      button.btn.btn-primary(type='submit') Sign up
    a(class='button' href='/login') Log in
